<h1>{{ section.settings.text }}</h1>

{% schema %}
{
  "name":"Header Banner",
  "settings":[{
    "type":"text",
    "id":"text",
    "label":"Text",
    "default":"Hello"
  }],
  "presets":[{
    "name":"Header Banner"
  }]
}
{% endschema %}